/* WARNING: DO NOT OUTPUT CSS - VARIABLES ONLY */

/* Global */
$background-color: #EDFCFB;
$primary: lightseagreen;
$border-color: lightgray;

/* Cards */
$card-border-radius: 8px;
$card-padding: 1rem 2rem;
$card-background: white;

/* Text */
$text-default: #041918;
$text-light: gray;
$text-medium: darkslateblue;
$text-highlight-color: #FFE5E9;
