/* WARNING: DO NOT OUTPUT CSS - VARIABLES ONLY */

/* Global */
// $background-color: #EDFCFB;
$background-color: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

$primary: lightseagreen;
$border-color: lightgray;

/* Cards */
$card-border-radius: 0px;
$card-padding: 1rem 2rem;
$card-background: white;

/* Text */
$text-default: #041918;
$text-light: gray;
$text-medium: darkslateblue;
$text-highlight-color: #FFE5E9;
